


:root{
    --cor-principal:#167BF7;
    --cor-secundaria:#FFFFFF;
    --botao-destaque:  #167BF7;
}


*{
    margin: 0;
    padding: 0;
}

.principal {
    background-color:#CE2929;
    background-image: url("imagens/Background.png");
    background-size:contain;
    background-repeat:no-repeat;
    text-align: center;
    font-size: 23px;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;   
    color: var(--cor-principal);

}

 .container--botao{ 
    background-color:var(--botao-destaque) ;
    color: var(--cor-principal);
    padding: 1em;
    margin: 20px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    
 }